@font-face {
  font-family: "SuisseMono";
  src:
    url("./assets/fonts/SuisseIntlMono-Regular-WebS.woff2") format("woff2"),
    url("./assets/fonts/SuisseIntlMono-Regular-WebS.woff") format("woff"),
    url("./assets/fonts/SuisseIntlMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "SuisseMono";
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  background-color: #e6e6e6;

  min-height: 100vh;
}

.main {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3rem;
  height: 100vh;
  overflow: hidden;
}

.controls {
  grid-column: span 3;
  display: grid;
  grid-template-rows: repeat(4, min-content) 1fr;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 3rem;
}

.controls-title {
  margin-top: 0;
  padding-bottom: 3rem;
  border-bottom: solid 1px #f4f5f5;
}

.controls-colors {
  padding-top: 2rem;
}

.colors-text {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3rem;
}

.color-name {
  position: relative;
  padding: 0.1rem 0.6rem;
}

.color-selector {
  display: flex;
  gap: 0.8rem;
  margin: 0.3rem;
  padding-bottom: 3rem;
  border-bottom: solid 1px #f4f5f5;
}

.btn-color {
  border: none;

  width: 4.4rem;
  height: 4.4rem;
  border-radius: 1rem;

  cursor: pointer;
}

.selected-color {
  /* outline: 1px solid #e6e6e6; */
  outline-offset: 3px;
}

.controls-ropes {
  padding-top: 2rem;
  border-bottom: solid 1px #f4f5f5;
}

.controls-slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.controls-boxes {
  padding-top: 2rem;
}

.canvas-container {
  grid-column: span 9;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  /* width: 100%; */
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.6rem;
  background: #f4f5f5;
  border-radius: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.2rem;
  height: 1.6rem;
  background: #000000;
  margin-top: -0.5rem;
}

.custom-slider {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  width: 100%;
}

.custom-slider input[type="range"] {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.slider-track-left,
.slider-track-right {
  height: 0.6rem;
  border-radius: 0.3rem;
}

.slider-track-left {
  flex: var(--left);
  background: #000000;
}
.slider-track-right {
  flex: var(--right);
  background: #f4f5f5;
}

.slider-thumb {
  width: 0.2rem;
  height: 1.6rem;
  background: #000000;
  border-radius: 0.1rem;
  flex-shrink: 0;
}

.controls-download {
  justify-self: center;
  margin-top: auto;
  padding-bottom: 3rem;
}

.btn {
  background-color: #f4f5f5;
  color: #000000;
  border: none;
  border-radius: 5rem;

  font-family: "SuisseMono";
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
}

.btn-download {
  display: flex;
  gap: 0.45rem;
  align-items: center;
}

.download-dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100px;
  background-color: #10e41a;
}

.download-text {
}

.canvas-container {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 0;
  z-index: 10;

  position: relative;
}

.canvas-wrapper {
  min-height: 0;
  overflow: hidden;
  margin-bottom: 3rem;
}

.canvas {
  /* height: auto; */
}

.box-controls {
  justify-self: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0.4rem 0.4rem 0.4rem 2.5rem;
  border-radius: 100px;

  /* transition: all 0.5s; */
}

.box-controls-create-mode {
  padding: 0.4rem;
}

.btn-add-box {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0.4rem 0.4rem 0.4rem 2.5rem;
}

.btn-box-controls {
  width: 4.5rem;
  height: 4.5rem;

  position: relative;
}

.plus-symbol-1 {
  position: absolute;
  background-color: #000000;
  width: 1rem;
  height: 1px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.plus-symbol-2 {
  position: absolute;
  background-color: #000000;
  width: 1px;
  height: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.controls-box-divider {
  border-right: solid 1.5px #f4f5f5;
  height: 3.3rem;
}

.box-controls-icons {
  display: flex;
  gap: 1rem;
  /* padding: 0rem rem; */
}

.btn-box-icons {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-box-icons:hover {
  cursor: pointer;
}

.selected-icon {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #10e41a;
  border-radius: 100px;

  position: absolute;
  bottom: -0.3rem;
  /* left: -50%; */
  /* translate: 50%; */
}

.text-input {
  width: 40rem;
  position: absolute;
  bottom: 6.3rem;
  left: 50%;
  transform: translateX(-50%);

  background-color: #ffffff;
  border-radius: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-input-top {
  display: flex;
  gap: 0.3rem;
}

.text-input-bottom {
  display: flex;
}

.text-input-number {
  border: 1px solid #f4f5f5;
  border-radius: 10rem;
  /* padding: 0.5rem; */
  width: 3.2rem;
  height: 3.2rem;

  text-align: center;
  justify-content: center;
  padding-top: 0.7rem;
}

.text-input-input {
  border: 1px solid #f4f5f5;
  border-radius: 10rem;
  padding: 0.8rem 1.4rem;
  text-transform: uppercase;
  width: 100%;
}

.text-input-input::placeholder {
  color: #e6e6e6;
}

.text-input-input:focus {
  border: 1px solid #f4f5f5;
  outline: none; /* optional: removes default blue outline */
}

/* 



el color cambia el relleno de las cajas, o las cuerdas,  cambia el de la proxima figura, o la figura seleccionada, o que
el texto del nombre del color se pierde con el color de la fuente
the gap in the box controls goes to 2rem when selected and 1.5 rem when add a box


*/
